[[ -f ~/.bash-preexec.sh ]] && source ~/.bash-preexec.sh
export PATH="$PATH:$HOME/.local/bin:$HOME/.atuin/bin:$HOME/.local/share/bob/nightly/bin:$HOME/.cargo/bin:/home/michael/.local/share/bob/nvim-bin"
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache
export NPM_CONFIG_INIT_MODULE="$XDG_CONFIG_HOME"/npm/config/npm-init.js
export NPM_CONFIG_CACHE="$XDG_CACHE_HOME"/npm
export NPM_CONFIG_TMP="$XDG_RUNTIME_DIR"/npm
export HISTFILE="${XDG_STATE_HOME}"/bash/history
export GOPATH="$XDG_DATA_HOME"/go
export EDITOR=nvim
export PATH="$PATH:$GOPATH/bin"

{{ if eq .chezmoi.fqdnHostname "arch.wild-fahrenheit.ts.net" }}
export ERL_AFLAGS="-name elixir@arch.wild-fahrenheit.ts.net -setcookie secret"
. "$HOME/.cargo/env"
{{ end }}

eval "$(atuin init bash --disable-up-arrow)"
eval "$(jj util completion bash)"

{{ if eq .chezmoi.fqdnHostname "desktop-michael" }}
export SSH_AUTH_SOCK=/home/michael/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock
eval "$(mise activate bash)"
{{ end }}

{{ if eq .chezmoi.fqdnHostname "laptop-michael" }}
export SSH_AUTH_SOCK=/home/michael/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock
eval "$(mise activate bash)"
{{ end }}

alias vi=nvim
alias gish='ssh -p 2222 10.20.0.202'
alias ll='eza -abghHliS@Um --git --octal-permissions'
alias la='eza -abghlH'
alias l='eza -F'
alias ls='eza -a'
alias cat='bat'
alias grep='rg'
alias clippy='cargo clippy --fix --allow-dirty -- -W clippy::pedantic -W clippy::nursery -W clippy::unwrap_used -W clippy::expect_used'
alias diff='bat --diff'
alias clear="clear && printf '\033c'"
